<%= link_to admin_categories_path, class: "block px-4 py-2 hover:rounded hover:bg-gray-700 w-32" do %>
  <%= icon('fa-solid', 'backward', class:'mr-2') %><span class="hidden md:inline-block">Back</span>
<% end %>
<div class="mx-auto md:w-2/3 w-full">
  <h1 class="font-bold text-4xl">New category</h1>

  <%= render "form", admin_category: @admin_category %>  
</div>
